.container {
  background-color: var(--white);
    background-image: url(./image//1674656935_top-fon-com-p-tachki-fon-dlya-prezentatsii-84.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: white;
  }
  
  .title {
    font-size: 60px;
    text-align: center;
  }
  
  .text {
    font-size: 30px;
    text-align: center;
  }
  .button {
    width: 130px;
    display: block;
    margin: 0 auto;
color:white;
background-color: inherit;
border: 2px solid white;
cursor: pointer;
  }

  .button:hover,
  .button:focus {
    color: rgb(44, 44, 252)
  }