.wrapper {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(18, 20, 23, 0.5);
    z-index: 100;
  }
  .content {
    position: relative;
    background-color: white;
    padding: 40px;
    overflow: hidden;
    width: 541px;
    border-radius: 5px;
    h1 {
      font-size: 2rem;
    }
  }
  .closeBtn {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 2px;
    transition: color var(--transition-effect);
    &:hover,
    &:focus {
      color: var(--btn-hover);
    }
  }