.list {
  padding: 40px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 29px;
    row-gap: 50px;
    max-width: 1184px;
    width: 100%;
    height: auto;
    justify-content: center;
  }
  
  .item {
    width: calc((100% - 87px) / 4);
  }